html {
    background-color: antiquewhite;
}

.title {
    text-align: center;
    font-size: 25px;
}

.fieldset {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

#field {
    width: 350px;
    padding: 30px;
    text-align: inherit;
    background-color: white;
}

#field2 {
    width: 350px;
    padding: 30px;
    text-align: inherit;
    background-color: white;
}

fieldset {
    border: 3px solid;
}

fieldset label {
    font-size: 15px;
    font-style: italic;
}

legend {
    font-size: 20px;
}

.add_more {
    font-size: 18px;
    font-style: oblique;
    text-align: center;
}